:root{
    --nav_tile-height: 3rem;
	--nav_link-font-size: 1.35rem;
    --main-font-color: #f2f2f2;
    --main-background-color: #242424;
    --main-border-color: #4d4d4d;
    --light-border-color: #d8d8d8;
    --background-color-transparent: #00000050;
    --navbar-background-color: #000000;
	--navlink-font-color: #f0d0ac;
    --link-color: #20d0ff;
    --list-date-color: #a0a0a0;
    --spotlight-entry-background-color: #171717;

	font-family: serif;
}
body{
    background: #181818;
    color: var(--main-font-color);
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
}
main{
    position: relative;
    background-color: var(--main-background-color);
    width: 100%;
    min-height: 100vh;
    height: auto;
    max-width: 52rem;
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    border-top: none;
    filter: drop-shadow(0 0.5rem 0.4rem #080808);
}
footer{
    background-color: #000000b8;
}
section{
    margin-top: 1.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0;
}
section:first-of-type{
    margin-top: 0.2rem;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
h1{
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--spotlight-entry-background-color);
    padding: 0.3rem 0.7rem;
    width: fit-content;
    border: 0.2rem solid var(--light-border-color);
}
code{
    display: block;
    overflow: scroll;
    max-width: 100%;
    padding: 1.2rem 1.2rem;
    margin: 0 2rem;
    background-color: var(--spotlight-entry-background-color);
}
:is( .content_standard ) img{
    max-width: 100%;
}
.web-button-box{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 8.5rem 0;
    padding-top: 3.5rem;
}
.web-button{
    display: flex;
    margin: 0.3rem;
}
.horizontal-separator{
    width: 100%;
    margin: 0;
    height: 1rem;
    background: repeating-linear-gradient(-45deg, var(--main-background-color), var(--main-background-color) 0.5rem, #131313 0.5rem, #131313 0.85rem);
}
#main_wrapper{
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
}
#navbar_logo_box{
    display: inline-flex;
    flex-direction: row;
    height: var(--nav_tile-height);
    padding: 0 1rem;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: var(--main-font-color);
    border-width: 0.1rem;
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}
#navbar_logo_label{
    color: var(--main-font-color);
    font-size: 1rem;
    margin: auto 0;
}
#navbar_logo{
    width: auto;
    height: 90%;
    padding: 0;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
#navbar{
    min-height: var(--nav_tile-height);
	background-color: var(--navbar-background-color);
	display: flex;
	flex-direction: row;
    z-index: 10;
    position: relative;
    filter: drop-shadow(0 0.5rem 0.4rem #080808);
}
#nav_group{
    height: inherit;
	display: flex;
    flex-wrap: wrap;
	margin-left: 0;
	margin-right: auto;
}
.nav_tile:first-of-type{
    padding-left: 0;
}
.nav_tile{
	height: var(--nav_tile-height);
    display: inline-flex;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}
.nav_link{
    color: var(--navlink-font-color);
	text-decoration: none;
	font-size: var(--nav_link-font-size);
    height: auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
}
.nav_link:hover {
    text-decoration: underline var(--nav_link-font-color) 0.05rem;
}
#introduction_wrapper{
    display: flex;
    flex-direction: row;
}
#introduction_picture{
    max-width: 40%;
    border: 0.2rem solid var(--light-border-color);
    height: fit-content;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--spotlight-entry-background-color);
    margin: 0;
    margin-left: 2rem;
    max-height: 15rem;
    border-radius: 0.9rem;
}
.title_main{
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
}
#rss-link-wrapper{
    width: 100%;
    display: flex;
    margin-top: 1.2rem;
}
#rss-link{
    margin-left: auto;
    margin-right: 3rem;
}
.title_standard{
    font-size: 1.8rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.content_standard{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    height: auto;
    width: auto;
}
.list_date{
    display: flex;
    font-size: 0.8rem;
    color: var(--list-date-color);
    margin-left: 0.5rem;
    margin: auto 0;
}
.list_link_wrapper{
    display: flex;
    flex-direction: row;
    margin: 0.25rem 0;
}
.list_link{
    display:flex;
    margin: auto 0.3rem;
}
.list_small{
    margin: 2rem 0;
}
.see-more-link{
    font-style: italic;
}
.footer_content_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 2rem auto;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_link{
    color: var(--list-date-color);
    font-family: sans-serif;
    text-decoration: underline;
    margin-bottom: 0.3rem;
    text-align: center;
}
.spotlight-entry{
    background-color: var(--spotlight-entry-background-color); 
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin-bottom: 0.45rem;
    border-radius: 0.5rem;
}
.spotlight-entry-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
:is(.spotlight-entry-inner) a{
    text-decoration: underline;
}
:is(.spotlight-entry-inner) p{
    margin: 0.5rem 0;
    color: var(--list-date-color);
    font-style: italic;
}

@media only screen and (max-width: 48rem){
    main{
        width: 100%;
        margin: none;
        border-left: none;
        border-right: none;
    }
    section{
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    #rss-link{
        margin-right: 0.7rem;
    }
    #introduction_wrapper{
        flex-direction: column;
    }
    #introduction_picture{
        margin: 0 auto;
        margin-top: 2rem;
        max-width: 50%;
    }
    #navbar_logo_label{
        display: none;
    }
    #navbar_logo_box{
        padding: 0 0.3rem;
    }
    #navbar_logo{
        margin-left: 0.2rem;
    }
    #nav_group{
        justify-content: space-between;
    }
    .nav_link{
        font-size: inherit;
    }
    .nav_tile{
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
}
