<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="main_wrapper">
            <main> 
                <div id="rss-link-wrapper">
                    <a id="rss-link" href="{{.Site.Params.rss}}">
                        <img src="/pictures/rss-banner.png" alt="rss">
                    </a>
                </div>
                {{- block "main" . }}{{- end }}
                {{- partial "web-button-box.html" . -}}
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>