{{ define "main" }}
<section>
    <h1 class="title_standard">{{ .Title }}</h1>
    <div class="content_standard">
        {{ .Content }}
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            <li>
                <div class="list_link_wrapper">
                    <a class="list_link" href="{{ .RelPermalink }}">{{ .Title }}</a><p class="list_date">- {{ .PublishDate | time.Format ":date_medium" }}</p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}