<header>
        <nav id="navbar">
            <div id="nav_group">
                <div class="nav_tile">
                    <a href="/">
                        <div id="navbar_logo_box">
                            <p id="navbar_logo_label">pcandmore.net</p>
                            <img 
                                id="navbar_logo"
                                alt=""
                                src="/pictures/logo.png"
                            />
                        </div>
                    </a>
                </div>
                <div class="nav_tile">
                    <a class="nav_link" href="/blog">BLOG</a>
                </div>
                <div class="nav_tile">
                    <a class="nav_link" href="/contact">CONTACT</a>
                </div>
                <div class="nav_tile">
                    <a class="nav_link" href="/about">ABOUT</a>
                </div>

            </div>
        </nav>
</header>