<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }} {{ .Site.Title }}</title>
        <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }} ">
        <link rel="canonical" href="{{ .Permalink }}" /> 
        <link rel="icon" href="/pictures/logo.png" />
        <link rel="stylesheet" href="{{ "css/main.css" | relURL }}"/>

        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

</head>