<div class="web-button-box">
    <div class="web-button"><img src="/pictures/email-button.gif" /></div>
    <div class="web-button"><img src="/pictures/rss-button.gif" /></div>
    <div class="web-button"><img src="/pictures/vim-button.gif" /></div>
</div>