{{ define "main"}}
<section>
    <h1 class="title_main">{{ .Title }}</h1>
    <div id="introduction_wrapper">
        <div class="content_standard">
            {{ .Content }}
        </div>
        <img
            id="introduction_picture"
            src="/pictures/introduction.jpg"
            alt=""
        />
    </div>
</section>
<div class="horizontal-separator" style="margin-top: 2.5rem"></div>
    {{ range where (.Site.Sections.ByTitle) "Title" "in" "Blog Posts" }}
    <section>
        <div class="list_small">
            <h1 class="title_standard">Latest {{ .Title }}</h1>
                <ul>
                {{ range first 10 .Pages.ByDate.Reverse }}
                    <li>
                        <div class="list_link_wrapper">
                            <a class="list_link" href="{{ .RelPermalink }}">{{ .Title }}</a><p class="list_date">- {{ .PublishDate | time.Format ":date_medium" }}</p>
                        </div>
                    </li>
            {{ end }}
                </ul>
                <br/>
                <a href="{{ .RelPermalink }}" class="see-more-link">--- see all {{ lower .Title }} ---</a>
        </div>
    </section>
    {{ end }}
    <div class="horizontal-separator" style="margin-top: 0.5rem"></div>

    <section>
        <div style="margin: 2rem 0; margin-bottom: 5rem;">
            <h1 class="title_standard" style="margin-left: auto; margin-right: auto; margin-bottom: 3rem;">🔦 Spotlight 💡</h1>
            {{ range first 1 ( where .Site.Pages "Title" "Spotlight" ) }}
            {{ .Content }}
            {{ end }}
            <p style="font-style: italic; margin: 0 2rem; font-size: 0.85rem; text-align: center;">Disclaimer: I do not necessarily agree with everything the authors say.</p>
        </div>
    </section>
    <section>
        <div style="display: flex; flex-direction: column;" >
            <h1 class="title_standard" style="margin-left: auto; margin-right: auto; margin-bottom: 1rem;" >Links 🔗</h1>
                        <p style="text-align: center;">This site is part of the geekring.</p>
            <div style="width: fit-content; height: fit-content; margin: auto;" >
                <map name="badge-geekring">
                    <area shape="rect" coords="4,3,13,28" href="https://geekring.net/site/312/previous" alt="Previous">
                    <area shape="rect" coords="13,3,22,28" href="https://geekring.net/site/312/random" alt="Random">
                    <area shape="rect" coords="76,3,84,28" href="https://geekring.net/site/312/next" alt="Next">
                    <area shape="rect" coords="23,3,63,28" href="httpss://geekring.net/" alt="Geekring">
                </map>
                <img usemap="#badge-geekring" src="https://geekring.net/banner/geek_2.gif" alt="The Geekring" height="31" width="88">
            </div>
        </div>
        <div style="justify-content: center; width: 90%; font-size: 0.9rem; display: flex; flex-direction: row; padding: 0.4rem 0.85rem; border-radius: 0.5rem; margin: 0 auto; margin-top: 8rem; background-color: var(--spotlight-entry-background-color);">
            <p style="color: var(--main-font-color); margin: auto 0; padding-right: 0.7rem; font-style: italic;">You can link to this site by using the banner:</p> 
            <a href="https://pcandmore.net" style="margin: auto 0;"><img src="/pictures/88x31.gif" /></a>
        </div>

    </section>

    
{{ end }} 
