<div class="spotlight-entry" style="border: 0.15rem solid {{ .Get `color` }};">
    <div style="height: inherit; display: flex; border-right: 0.15rem dashed {{ .Get `color` }}; margin-right: 0.7rem; padding-right: 0.5rem;">
        <img src="{{ .Get `pic` }}" alt="" style="min-width: 2.5rem; min-height: 2.5rem; max-width: 4.5rem; max-height: 4.5rem; margin: auto 0">
    </div>
    <div class="spotlight-entry-inner">
        <a href="{{ .Get `url` }}">{{ .Get `title` }}</a>
        <p>{{ .Get `desc` }}</p>
    </div>
</div>